.body{
   background-color: #B3C8CF;
    display: flex;
    flex-direction: column;
}

*{
    padding: 0;
    margin: 0;
}
.editing{
    padding: 25px;
    margin: 15px;
}

.navbar{
    background-color: #B3C8CF;
    padding: 15px 20px 15px 20px;
}

.btn-danger{
    border-color: #FA7070 !important;
    background-color: #FA7070 !important
}
.btn-warning{
    border-color: #B3C8CF !important;
    background-color: #E5DDC5 !important;
}
.principal{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding-top: 20px;
}

.principalinventario{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.botoncobro{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

.ventas{
    
    flex-direction: column;

    justify-content: flex-start;
    padding: 0 35px 0 0;
    gap: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.col{

    align-self: center;
    padding: 30px;
   
}
.hidden {
    display: none;
}

.visible {
    display: block;}

.productosLista{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.itemP, .tittle{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nombre{
    width: 100%;

}

.cantidad{
    width: 100%;
}

.precio{
    width: 100%;
}

.container{
    display: flex;
    justify-content: space-between;
}

.mainReport{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.boxOne, .boxTwo{
    display: flex;
    gap: 15px;
}

.boxPapi{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px 30px 15px 30px;
}

.boxes{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #e6e6e6;
    padding: 10px 20px;
    border-radius: 10px;
    gap: 15px;
}

li{

    display: inline;
    margin: 10px 10px 10px 20px;
}

.discount{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sectionProductosPro{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inventario{
    
    
    justify-content: center;
    width: 100%;
}

.encabezadoProductos{
    display: flex;
    justify-content: center;
}

.listaproductosPro{
    display: flex;
    flex-direction: column;
}

.mi-formulario {
    width: 300px; /* Ajusta el ancho según tus necesidades */
    margin: 0 auto; /* Centra el formulario en la página */
  }
  
  .mi-boton {
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    padding: 10px 15px; /* Ajusta el espaciado interno del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Agrega esquinas redondeadas al botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  }
  
  .mi-boton:hover {
    background-color: #45a049; /* Cambia el color de fondo al pasar sobre el botón */
  }
  .central{
    align-self: center;
  }
  .clientes{
    padding: 20px;
    margin: 10px;
    display: flex;
    /*display: flex;*/
  }
  
  .card{
    margin: 10px;
    padding: 30px;
    box-sizing: border-box !important;
    background-color: #e6e6e6 !important;
  }



  .prueba1{
    border-style: solid;
    border-width: thick;
    border-color: #B3C8CF;
    border-radius: 25px;
    height: fit-content;
    width: 300px;
    text-align: center;
    margin: 10px;
    padding: 30px;
  }
  .clientes1{
    text-align: center;
    height: 140px;
    width: 800px;
    overflow: scroll;
margin-left: 20px;
    padding: 10px;
    border-style: dashed;
    border-width: thick;
    border-color: #B3C8CF;
    border-radius: 25px;

  }

  .formularios{
    border-style: solid;
    border-color: #E5DDC5 ;
    margin: 10px;
    padding: 10px;
   border-radius: 25px;
background-color: #E5DDC5;

  }

  .formularios:hover{
    background-color: #B3C8CF;
    border-color: #B3C8CF;
   
  }

.items1, .items{
    text-align: center;
    padding: 10px;
}

.encabezados{
    border-style: solid;
    border-color: #45a049;
    text-align: center;
}

.items1:hover{
   
    
    border: 1px solid #ccc;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.7);
}

.infoclient{
    width: 400px;
}
.modal-footer{
text-align: center !important;
}
